<%= simple_form_for :session, url: session_path do |f| %>


   
    <div>
     <%= f.input :email %>
    
    </div>
    <div>
     <%= f.input :password %>
 
    </div>
   
    <%= f.submit 'Sign In', class: 'btn btn-primary' %>
    <% end %>